In [2]:
import pandas as pd

In [4]:
dataset_file='datasets/all_datasets_raw'
with open(dataset_file, 'rb') as csvfile:
    rawreader = pd.read_csv(csvfile, delimiter='|', names=[ "note", "label", "model_id", "state"], skipinitialspace=True)

In [6]:
rawreader.describe(include='all')

,note,label,model_id,state
count,7616,7555,7616,7574
unique,7555,7462,6459,2117
top,[ ],From-Botnet-TCP-Unknown--23 ...,147.32.84.165-178.150.146.54-6667-tcp...,2
freq,61,2,3,2203